.imagenItem{
    height: 110px;
    margin-bottom: 3px;
}
.itemProducto{
    padding: 3px;
}
.item-contenido{
    height: 70px;
}
.itemOferta {
    padding: 3px;
    height: 290px;
}
.precio{
    text-decoration: line-through;
}